*.a
*.cache
*.gch
*.html
*.la
*.lo
*.log
*.o
*.plist
*.pyc
*.stamp
*.swp
*.trs
*~
.config.args
.deps/
.dirstamp
.libs/
/*.gcda
/*.gcno
/*.tar.bz2
/*.tar.gz
/*.tar.xz
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/Makefile
/TAGS
/aclocal.m4
/build-aux
/casync
/casync-*/
/casync-http
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/stamp-*
/test-caencoder
/test-caindex
/test-casync
/test-cautil
/test-chunker
/test-script.sh
Makefile.in
