*.a
*.cache
*.html
*.la
*.lo
*.log
*.o
*.plist
*.pyc
*.stamp
*.swp
*.trs
*~
*.gch
.config.args
.deps/
.dirstamp
.libs/
/*.gcda
/*.gcno
/*.tar.bz2
/*.tar.gz
/*.tar.xz
/build-aux
/libtool
/Makefile
/TAGS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
stamp-*
/casync
/test-caencoder
/test-casync
/test-chunker
