*~
*.a
*.cache
*.gch
*.html
*.la
*.lo
*.log
*.o
*.plist
*.pyc
*.stamp
*.swp
*.trs
.config.args
.deps/
.dirstamp
.libs/
/*.gcda
/*.gcno
/*.tar.bz2
/*.tar.gz
/*.tar.xz
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/Makefile
/TAGS
/build-aux
/casync
/casync-*/
/libtool
/test-caencoder
/test-casync
/test-chunker
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
stamp-*
